.navWrapper{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 70px;
    padding-top: 10px;
    margin-bottom: 50px;
    padding-inline: 20px;
    background-color: #fff;
}
.navWrapper > * + * {
    margin-top: 5px;
    border-top: 1px solid #000;
}