.card{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
    box-sizing: border-box;
    width: 60%;
}
.imgProduct{
    max-width: 150px;
    max-height: 150px;
}

.infoCard{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cardPriceProduct{
    font-size: 25px;
    color: red;
}

.buyMenuCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}