


.AppWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  width: auto;
}
.mainWrapper  {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav{
  width: 200px;
}